:root {
    --primary-color: #66bfbf;
    --secondary-color: #EAF6f6;
    --tertiary-color: #FF0063;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #126E82;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header / Nav Bar styles start */
header {
    padding: 20px 35px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px; 
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header / Nab Bar styles end */
